<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar.css') }}">
  <title>Navbar</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/">STEM Academy</a>
    </div>
    <ul class="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/chat">Chat</a></li>
    </ul>
  </nav>
</body>
</html>
